<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "/assets/aerial_tramway.png" %>
  </div>

  <div id="content">
    <h1>Hey, I'm a fast tram</h1>
    <p>I get people places...QUICKly!</p>
  </div>
</div>
